
@media (max-width: 1200px) {
  .primeraSeccion {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .primeraSeccion {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .primeraSeccion {
    grid-template-columns: 1fr;
  }
}