.barra-search {
  border: 1px solid rgb(139, 136, 136);
  border-radius: 10px;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: var(--esp-xs);
}

.barra-search img { 
  margin-left: var(--esp-lg); 
}

.barra-search input {
  border: none;
  outline: none;
  background: transparent;
}

.barra-select,
.barra-select-lg {
  border: 1px solid rgb(139, 136, 136);
  border-radius: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: var(--esp-lg);
}

.barra-select { width: 120px; }
.barra-select-lg { width: 160px; }

.barra-select select,
.barra-select-lg select {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  border-radius: 10px;
  -webkit-appearance: none;
  appearance: none;
  padding: 0 12px;
}